* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3b3f48;
  min-height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px 30px 40px 30px;
}

.sidebar {
  width: 250px;
  height: 300px;
  border-radius: 15px;
  background-color: black;
}

.filterHeading {
  color: white;
  margin: 18px 20px;
  border-bottom: 2px solid #808080;
  padding-bottom: 1rem;
  width: 70%;
}

.dropdown-container {
  width: 100%;
}

.allSelect {
  width: 70%;
  margin: 5px 20px;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #2f3135;
  color: #e1e1e1;
  font-size: 1rem;
}

.main-section {
  width: 1000px;
  height: 500px;
  margin-left: 40px;
}


h1 {
  color: rgba(255, 255, 255, 0.87);
  font-weight: 700;
  font-size: 35px;
  margin-left: 16px;
  margin-top: 10px;
}

h2 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 30px;
  margin-left: 16px;
  margin-top: 20px;
}

h3 {
  color: rgba(255, 255, 255, 0.87);
  font-weight: 200;
  font-size: 25px;
  margin-left: 16px;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #808080;
}

.cards-area {
  display: flex;
  background-color: transparent;
  height: 250px;
  width: fit-content;
  margin-top: 20px;
  border-radius: 15px;
  padding: 0 10px;
}
.cards-area2 {
  background-color: transparent;
  height: 250px;
  width: fit-content;
  margin-top: 20px;
  border-radius: 15px;
  padding: 0 10px;
}

.card-container {
  background-color: #2f3135;
  display: block;
  height: 250px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 5px;
  border-radius: 5px;
  border: 2px solid #1b1b1d;
  text-decoration: none;
  color: #fff;
  padding: 10px 5px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 5px;  
}

.image-wrapper {  
  margin-right: 10px;
  float: left;
}

.label-item:last-child {
  margin-bottom: 0;
}

.label {
  color: rgba(255, 255, 255, 0.87);
  font-weight: bold;
}

.label-item {
  margin-bottom: 6px;
}
